* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

header {
  margin-top: 1rem;
}

header,
footer {
  border: 2px solid black;
  padding: 1rem 1rem 1rem 2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

nav ul a:hover {
  color: blue;
}

.date {
  text-align: right;
  margin: 0.5rem 0 5rem 0;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 1rem;
}

nav li:nth-child(2) {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.button,
input,
.all-books ul {
  border: 2px solid black;
}

button {
  padding: 0.3rem;
  box-shadow: 3px 3px 1px #000;
}

.add-book button {
  padding: 0.5rem 0.8rem;
  align-self: flex-end;
}

input {
  display: block;
  padding: 0.7rem;
  margin-bottom: 2rem;
}

hr {
  margin: 2rem 0;
  width: 50%;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.all-books ul {
  display: block;
  width: 45%;
  margin: 2rem auto;
}

.all-books li:nth-child(odd) {
  background: lightgrey;
}

h1 {
  font-size: 3rem;
}

.divider {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.add-new > h1,
.contact-info > h1 {
  margin-bottom: 4rem;
}

.contact-info p {
  margin-bottom: 2rem;
}

.contact-info ul {
  margin: 0 0 2rem 3rem;
}
